@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    to bottom,
    #eafbaf 0%,
    #eafbaf 50%,
    #5290f9 50%,
    #5290f9 100%
  );
  font-family: "Muli", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

nav{
  background-color: aliceblue;
  padding: 20px;
  width: 80px;
  display: flex;
justify-content: center;
align-items: center;
border-radius: 5px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
transition: 0.6 linear;
}

nav.active{
  width: 350px;
}
