body{
    background-color: black;
    text-align: center;
    
}
h1 {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
  color: #fff;
}

img {
  width: 600px;
}
#got{
    border: 5px solid #fff;
}